# 🔒 Fichiers d'environnement
.env
*.env

# 🐍 Environnements virtuels Python
venv/
.venv/

# ⚙️ Caches Python
__pycache__/
*.py[cod]

# 📦 Fichiers de modèles ou données
*.pt
*.npy
*.pkl
*.h5
*.csv

# 📓 Notebooks
.ipynb_checkpoints/
